@page "/PasswordReset"
@using OpenBook.Shared.Dtos;
@using OpenBook.Shared.OutputData;
@inject HttpClient client
@inject NavigationManager navigation 
<style>
    .container {
        border: 2px solid black;
        border-radius: 10px;
        padding: 20px;
        width: 300px;
        margin: auto;
        margin-top: 50px;
    }

    .input-group {
        margin-bottom: 15px;
    }

    .rounded-button {
        border-radius: 5px;
        padding: 10px;
        width: 100%;
        cursor: pointer;
        background-color: #3498db;
        color: white;
        border: none;
    }

    .rounded-button:disabled {
        background-color: #95a5a6;
        cursor: not-allowed;
    }

    .password-toggle {
        cursor: pointer;
        color: #3498db;
        text-decoration: underline;
    }
</style>

<h3 style="text-align:center">Регистрация</h3>

<div class="container">
    @*<button @onclick="Pomenay">Поменяй</button>*@
   
    @switch (stateMode)
    {
        case(blockState.mailMode):
            <div class="input-group">
                <input type="text" id="login" @bind="email" placeholder="Email" style="margin-bottom: 5px"/>
                <br>
                <button class="btn btn-primary" @onclick="GetCode">Получить код</button>
            </div>
            break;
        case (blockState.codeMode):
            <div class="input-group">
                <button class="btn btn-secondary" @onclick="GoEmail">изменить email</button> <br>
                <label style="color: red">@msg</label> <br>
                <input type="text" id="login" @bind="code" placeholder="Code"style="margin-bottom: 5px; margin-top:5px"/> <br> 
                <button class="btn btn-primary" @onclick="CheckCode">Проверить</button>
            </div>
            break;
        case(blockState.passwordMode):
            <div class="input-group">
                <label style="color: green">@email</label> <br>
                <div class="input-group">
                    <input type="@passwordInputType" id="password" @bind="password" placeholder="Пароль"/>
                    <button @onclick="TogglePasswordVisibility" class="password-toggle">
                        <img style="width:20px; height:15px;" src="@eyeIconPath" alt="Глаз">
                    </button>
                </div>

                <div class="input-group">
                    <input type="@passwordInputType" id="confirmPassword" @bind="confirmPassword" placeholder="Повторите пароль"/>
                    <button @onclick="TogglePasswordVisibility" class="password-toggle">
                        <img style="width:20px; height:15px;" src="@eyeIconPath" alt="Глаз">
                    </button>
                </div>
                <button class="btn btn-primary" @onclick="ChangePassword">Проверить</button>
            </div>
            break;
    }

</div>

@code {
    string email;
    string code;
    string msg;

    private string confirmPassword;
    private string password;
    private bool showPassword = false;

    Response response;

    blockState stateMode = blockState.mailMode;

    private async Task GetCode()
    {
        //ToDo логику добавить
        stateMode = blockState.codeMode;
    }

    private async Task GoEmail()
    {
        stateMode = blockState.mailMode;
    }

    private async Task CheckCode()
    {
        //ToDo в response получить проверку кода
        if (response.IsSuccess)
        {
            stateMode = blockState.passwordMode;
        }
        else
        {
            msg = "Не правильный код!";
        }
    }
    private async Task ChangePassword()
    {
        //ToDo в response получить смену пароля
        if (response.IsSuccess)
        {
            navigation.NavigateTo("signIn");
        }
        else
        {
            stateMode = blockState.codeMode;
            msg = "Не удалось поменять пароль!";
        }
    }

    void Pomenay()
    {
        if (stateMode == blockState.mailMode)
        {
            stateMode = blockState.codeMode;
            return;
        }
        if (stateMode == blockState.codeMode)
        {
            stateMode = blockState.passwordMode;
            return;
        }
        if (stateMode == blockState.passwordMode)
        {
            stateMode = blockState.mailMode;
            return;
        }
    }

    private string eyeIconPath => showPassword ? "../image/OpenEye.svg" : "../image/CloseEye.svg";

    private string passwordInputType => showPassword ? "text" : "password";

    private void TogglePasswordVisibility()
    {
        showPassword = !showPassword;
    }
    private bool IsValidEmail(string email)
    {
        try
        {
            var addr = new System.Net.Mail.MailAddress(email);
            return true; // Если успешно создан MailAddress, то email верен
        }
        catch
        {
            return false; // В противном случае email неверен
        }
    }
   
    enum blockState
    {
        mailMode,
        codeMode,
        passwordMode
    }
}
