@page "/book/{Id}/{action}"
@using OpenBook.Shared.Dtos;
@using OpenBook.Shared.OutputData;
@using OpenBook.Shared.SupportData;
@using System.Net.Http.Headers;
@inject HttpClient client
@inject NavigationManager navigation
@inject Blazored.LocalStorage.ILocalStorageService localStorage
<style>
    .columnContainer{
        display: flex;
        flex-direction: column;
    }

    .rowContainer {
        display: flex;
        flex: 1 1;
        flex-direction:row;
        justify-content: space-evenly;
        padding: 20px;
        width: 100%;
        margin: 5px;
        background: #f3f3f3;
        border-radius: 5px;
    }

    .innerColumnContainer{
        display: flex;
        flex-direction: column;
        padding: 20px;
        width: 100%;
        margin: 5px;
        background: #f3f3f3;
        border-radius: 5px;
    }
    .newLineContainer{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap
    }
    .review{
        border: 1px solid;
        padding: 5px;
        margin: 2px;
        border-radius: 5px;
    }
</style>
@if (book == null)
{
    <div class="text-center m-3">
        <div class="spinner-border" role="status">
            <span class="sr-only"></span>
        </div>
    </div>
}
else
{
    @if (action == "0")
    {
        <a href="books">Назад</a>
    }
    else
    {
        <a href="favoritebook">Назад</a>
    }
    <div class="columnContainer jumbotron rounded-2">
        <a href="Books">     </a>
        <div class="rowContainer">
            <div>
                <img style="width: 90%; height: 40vh" src="data:image/jpeg;base64,@Convert.ToBase64String(book.Value.Cover)">
            </div>
            <div class="columnContainer">
                <h2 style="word-wrap: break-word; white-space: pre-wrap">@book.Value.Name</h2>
                <h3>@book.Value.Author</h3>
                <h4>Chapter count: Very many chapters</h4>
    
                <button class="btn btn-primary" @onclick="GoToBookReader" style="margin-top: 5px; margin-bottom: 5px; width: 30%">Читать</button>
    
            @if (book.Value.Cycle != null)
            {
                        <a href="cycle/@book.Value.CycleId">@book.Value.Cycle.Name</a>
            }
                <div class="newLineContainer">
                @if (genres != null)
                {
                    @foreach (var genre in genres.Value.Data)
                    {
                        <a href="genre/{@genre.Id}">@genre.Name | </a>
                    }                    
                }
                </div>
                <div>
                    <p>@book.Value.Description</p>
                @* <button>             </button> *@
                </div>
            </div>
        </div>
    
        <div class="innerColumnContainer">
            <div style="text-align:center">
                <h2>      </h2>
            @if (myReview == null)
            {
                <button class="btn btn-secondary m-2" @onclick="AddReview">Отзыв</button>
            }
            </div>
    
        @if (myReview != null)
        {
                <div style="background: #eef1f1"  class="review">
                @if (myReview.IsEdited)
                {
                    <label style="font-size:smaller;">ред.</label>
                }
                <h4 class="m-1">@myReview.User.Name</h4>
                @if (editMode)
                {
                    <div class="form-group">
                        <textarea class="form-control" @bind="@myReview.Text" placeholder="Отзыв"></textarea>
                    </div>
                    @*<input type="text" @bind="@myReview.Text"> *@
                }
                else
                {
                     <div class="jumbotron rounded-1 border-primary" style="background: white">
                         <p class="p-3 m-3 border-1 rounded-1">@myReview.Text</p>
                     </div>
                }
                        <button class="btn btn-secondary btn-sm m-3" @onclick="AddReview">@reviewChangerText</button>
            </div>
        }
    
        @if (reviews != null)
        {
            @foreach (var review in reviews.Value.Data)
            {
                @if (CheckId(review.Id).Result)
                {
                    <div class="review">
                        @if (review.IsEdited)
                        {
                            <label style="font-size:smaller;">ред.</label>
                        }
                        <h4>@review.User.Name</h4>
                        <div class="jumbotron rounded-1 border-secondary" style="background: #fdfdfd">
                            <p class="p-3 m-3 border-1 rounded-1">@review.Text</p>
                        </div>
                    </div>                        
                }
            }                
        }
        </div>
    </div>
}
@code {
    [Parameter]
    public string Id { get; set; }

    [Parameter]
    public string action { get; set; }

    Response? response;

    Response<UserDto>? user = new();

    Response<BookDto>? book;
    Response<DataPage<GenreDto>>? genres;
    Response<DataPage<ReviewDto>>? reviews;
    ReviewDto? myReview;

    string reviewChangerText = "Изменить";

    bool editMode = false;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            var cookieContent = await localStorage.GetItemAsync<AuthInfo>(AuthInfo.CookieName);
            client.DefaultRequestHeaders.Authorization = new AuthenticationHeaderValue("Bearer", cookieContent.Key);
            user = await client.GetFromJsonAsync<Response<UserDto>>("https://localhost:7190/api/Auth/GetUserInfo");
        }
        catch (Exception ex)
        {
            //navigation.NavigateTo("SignIn");
        }
        book = await client.GetFromJsonAsync<Response<BookDto>>($"https://localhost:7190/api/Book/GetBook?id={Id}");
        genres = await client.GetFromJsonAsync<Response<DataPage<GenreDto>>>($"https://localhost:7190/api/Genre/GetGenresForBook?bookId={Id}&start={0}");
        reviews = await client.GetFromJsonAsync<Response<DataPage<ReviewDto>>>($"https://localhost:7190/api/Review/GetForBook?bookId={Id}&start={0}");
        @if (user.IsSuccess)
        {
            myReview = reviews.Value.Data.FirstOrDefault(r => r.UserId == user.Value.Id);
        }
    }
    async Task AddReview()
    {
        if (user.IsSuccess)
        {
            if (editMode)
            {
                //myReview.IsEdited = true;
                using HttpResponseMessage TestResponse = await client.PostAsJsonAsync("https://localhost:7190/api/Review/Update", myReview);
                reviewChangerText = "Сохранить";
                editMode = false;
            }
            else
            {
                editMode = true;
                if (myReview == null)
                {
                    ReviewDto reviewDto = new()
                        {
                            BookId = Convert.ToInt32(Id),
                            UserId = user.Value.Id,
                        };
                    using HttpResponseMessage TestResponse = await client.PostAsJsonAsync("https://localhost:7190/api/Review/Create", reviewDto);
                    var rev = await client.GetFromJsonAsync<Response<ReviewDto>>($"https://localhost:7190/api/Review/GetForUserBook?bookId={Id}&userId={user.Value.Id}");
                    myReview = rev.Value;
                }
                reviewChangerText = "Изменить";
            }
        }
        else
        {
            navigation.NavigateTo("SignIn");
        }
    }
    async Task<bool> CheckAuth()
    {
        var resp = await client.GetFromJsonAsync<Response<UserDto>>("https://localhost:7190/api/Auth/GetUserInfo");
        return resp.IsSuccess;
    }
    void GoToBookReader()
    {
        navigation.NavigateTo($"bookcontent/{Id}");
    }
    async Task<bool> CheckId(int id)
    {
        if (myReview != null)
        {
            if (myReview.Id == id)
            {
                return false;
            }
        }
        return true;
    }
}