@page "/BookEditor/{Id}"
@using OpenBook.Shared.Dtos;
@using OpenBook.Shared.OutputData;
@using OpenBook.Shared.SupportData;
@using System.Net.Http.Headers;
@inject HttpClient client
@inject NavigationManager navigation
@inject Blazored.LocalStorage.ILocalStorageService localStorage
<style>
    .headBox{
        text-align: center;
    }
    .container {
      display: flex;
      flex: 1 1;
      flex-direction:row;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 20px;
      width: 100%;
    }
    .box {
      /*background-color: #ccc;*/
      padding: 10px;
    }


    /* The switch - the box around the slider */
    .switch {
        text-align:center;
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
    }

    /* Hide default HTML checkbox */
    .switch input {display:none;}

    /* The slider */
    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ccc;
      -webkit-transition: .4s;
      transition: .4s;
    }

    .slider:before {
      position: absolute;
      content: "";
      height: 26px;
      width: 26px;
      left: 4px;
      bottom: 4px;
      background-color: white;
      -webkit-transition: .4s;
      transition: .4s;
    }

    input:checked + .slider {
      background-color: #2196F3;
    }

    input:focus + .slider {
      box-shadow: 0 0 1px #2196F3;
    }

    input:checked + .slider:before {
      -webkit-transform: translateX(26px);
      -ms-transform: translateX(26px);
      transform: translateX(26px);
    }

    /* Rounded sliders */
    .slider.round {
      border-radius: 34px;
    }

    .slider.round:before {
      border-radius: 50%;
    }
    .checkSlider{
        margin: 3px;
        text-align:center;
        display: flex;
        align-items: center; /* Центрирование по вертикали */
        justify-content: center; /* Равномерное распределение по горизонтали */
    }

    .content {
        width: 50%;
        padding: 5px;
    }
    .alert {
        transition: opacity 0.5s ease-out;
    }

    .alert.fade-out {
        opacity: 0;
    }
</style>
@if (Id != "0" && book.Name == null)
{
    <div class="text-center m-3">
        <div class="spinner-border" role="status">
            <span class="sr-only"></span>
        </div>
    </div>
}
else
{
    <div class="mainBox jumbotron bg-light rounded-1 m-1">
        @if (IsVisible)
        {
            <div class="alert alert-@AlertType @FadeOutClass" role="alert">
                @Message
            </div>
        }
        <a class="link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover m-1" href="mybooks">Назад</a>
        <div class="headBox">
            <div class="checkSlider">
                <span>неопубл.</span>
                <label class="switch">
                    <input type="checkbox" @bind="book.IsPublished">
                    <span class="slider round"></span>
                </label>
                <span>опубл.</span>
                <br />
            </div>
            <div>
            @if (Id == "0")
            {
                <button class="btn btn-primary" style="margin: 3px;" @onclick="CreateBook">Создать</button>
            }
            else
            {
                <button class="btn btn-primary" style="margin: 3px;" @onclick="UpdateBook">Сохранить</button>
            }
            </div>
        </div>
        <div class="box">
            <div class="container">
                <div class="content" style="text-align: center">
                    <img class="img-fluid" style="height: 40vh" src="data:image/jpeg;base64,@Convert.ToBase64String(book.Cover)">
                    <button class="btn btn-light">
                        <InputFile OnChange="HandleFileChange" />
                    </button>
                </div>
    
                <div class="content">
                    <input class="form-control" type="text" placeholder="Название" @bind="book.Name" />
                    <br />
    
                    <input class="form-control" type="text" placeholder="Автор" @bind="book.Author" />
                    <br />
    
                    <div style="display: flex; flex-direction: column">
                        <select class="form-select" @onchange="HandleGenreChange">
                            <option>Нет</option>
                            @if (Genres != null)
                            {
                                @foreach (var genre in Genres.Value.Data)
                                {
                                    <option value="@genre.Id">@genre.Name</option>
                                }
                            }
                        </select>
    
                    @if (BookGenres != null)
                    {
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Delete</th>
                                </tr>
                            </thead>
                            <tbody>
                            @foreach (var genre in BookGenres.Value.Data)
                            {
                                <tr>
                                    <td>
                                        <label>@genre.Name</label>
                                    </td>
                                    <td>
                                        <button class="btn btn-danger" @onclick="(()=>RemoveGenre(genre.Id))">Удалить</button>
                                    </td>
                                </tr>
                            }
                            </tbody>
                        </table>
                    }
                    </div>
                </div>
            </div>
    
            <div class="description" style="width: 100%">
                <div class="form-group">
                    <textarea class="form-control" @bind="@book.Description" placeholder="Описание книги"></textarea>
                </div>
            </div>
        </div>
        <hr/>
        @if (Id == "0")
        {
            <span>...</span>
        }
        else
        {
            <h4 style="text-align: center; padding-top: 10px; margin: 0px">Главы</h4>
            <div class="box jumbotron mb-2 p-2 rounded-1">
                <table class="table">
                    <tr>
                        <th>
                            №
                        </th>
                        <th>
                            Название
                        </th>
                        <th>
                            публ.
                        </th>
                        <th>
                            наверх
                        </th>
                        <th>
                            вниз
                        </th>
                    </tr>
                    @if (chapters != null)
                    {
                        @foreach (var chapter in chapters.Value.Data)
                        {
                            <tr>
                                <td>
                                    @chapter.Number
                                </td>
                                <td>
                                    <button class="btn btn-link" @onclick="(()=>GoToChapterEditor(chapter.Id, chapter.Number.Value))">@chapter.Name</button>
                                </td>
                                <td>
                                    <input class="form-check-input" type="checkbox" @onclick="(()=>PulishedChapter(chapter.Id, chapter.IsPublic))" checked="@chapter.IsPublic" />
                                </td>
                                <td>
                                    @if (chapter.Number == 1)
                                    {
                                        <button class="btn btn-outline-secondary p-1 oi oi-arrow-top" disabled></button>
                                    }
                                    else
                                    {
                                        <button class="btn btn-outline-primary p-1 oi oi-arrow-top" @onclick="(()=>NumberChange(true, chapter.Number.Value))"></button>
                                    }
                                </td>
                                <td>
                                    @if (chapter.Number == chapters.Value.Data.Length)
                                    {
                                        <button class="btn btn-outline-secondary p-1 oi oi-arrow-bottom" disabled></button>
                                    }
                                    else
                                    {
                                        <button class="btn btn-outline-primary p-1 oi oi-arrow-bottom" @onclick="(()=>NumberChange(false, chapter.Number.Value))"></button>
                                    }
                                </td>
                            </tr>
                        }
                    }
                    <tr>
                        <td></td>
                        <td>
                            <button class="btn btn-outline-success" @onclick="(()=>GoToChapterEditor(0, chapters.Value.Data.Length + 1))">Добавить главу</button>
                        </td>
                    </tr>
                </table>
            </div>
        }
    </div>
}
@code {

    public string Message;

    public string AlertType { get; set; } = "info";

    
    public int Duration { get; set; } = 2000;

    private bool IsVisible { get; set; } = false;
    private string FadeOutClass { get; set; } = string.Empty;

    private async Task ShowNotification(string msg)
    {
        Message = msg;
        IsVisible = true;
        FadeOutClass = string.Empty;
        StateHasChanged(); // Обновление интерфейса

        await Task.Delay(Duration);
        FadeOutClass = "fade-out";
        StateHasChanged(); // Обновление интерфейса

        await Task.Delay(500); // Duration of the fade-out transition
        IsVisible = false;
        StateHasChanged(); // Обновление интерфейса
    }

    [Parameter]
    public string Id { get; set; }

    Response<DataPage<ChapterDto>>? chapters;
    Response<DataPage<CycleDto>>? Cycles;
    Response<DataPage<GenreDto>>? Genres;
    Response<DataPage<GenreDto>>? BookGenres;

    BookDto book = new();

    Response? response;

    Response<UserDto>? user = new();

    protected override async Task OnInitializedAsync()
    {
        try
        {
            var cookieContent = await localStorage.GetItemAsync<AuthInfo>(AuthInfo.CookieName);
            client.DefaultRequestHeaders.Authorization = new AuthenticationHeaderValue("Bearer", cookieContent.Key);
            user = await client.GetFromJsonAsync<Response<UserDto>>("https://localhost:7190/api/Auth/GetUserInfo");
            if (Id == "0")
            {
                book.UserId = user.Value.Id;
            }
            else
            {
                var resp = await client.GetFromJsonAsync<Response<BookDto>>($"https://localhost:7190/api/Book/Read?id={Id}");
                if (!await CheckAdmin(resp.Value.UserId.Value)) throw new Exception("User is not Admin!");
                await GetChapters();
                Cycles = await client.GetFromJsonAsync<Response<DataPage<CycleDto>>>($"https://localhost:7190/api/Cycle/GetAllForUser?userId={resp.Value.UserId}&start={0}");
                Genres = await client.GetFromJsonAsync<Response<DataPage<GenreDto>>>($"https://localhost:7190/api/Genre/GetAll?start={0}");
                await GetBookGenres();
                book = resp.Value;
            }
        }
        catch (Exception ex)
        {
            navigation.NavigateTo("SignIn");
        }
    }
    async Task<bool> CheckAdmin(int id)
    {
        if (user.Value.Role.Name == "Admin" || user.Value.Role.Name == "SuperAdmin" || user.Value.Id == id) return true;
        return false;
    }
    async Task GetChapters()
    {
        chapters = await client.GetFromJsonAsync<Response<DataPage<ChapterDto>>>($"https://localhost:7190/api/Chapter/GetForBook?bookId={Id}&start={0}");
    }
    void GoToChapterEditor(int Id, int Number)
    {
        navigation.NavigateTo($"ChapterEditor/{Id}/{Number}/{book.Id}");
    }

    async Task<bool> CheckAuth()
    {
        var resp = await client.GetFromJsonAsync<Response<UserDto>>("https://localhost:7190/api/Auth/GetUserInfo");
        return resp.IsSuccess;
    }

    async Task UpdateBook()
    {
        using HttpResponseMessage TestResponse = await client.PostAsJsonAsync("https://localhost:7190/api/Book/Update", book);
        TestResponse.EnsureSuccessStatusCode();
        response = await TestResponse.Content.ReadFromJsonAsync<Response>();
        if (response.IsSuccess)
        {
            await ShowNotification("Книга успешно обновлена!");
        }
        else
        {
            await ShowNotification("Ошибка! Не удалось обновить книгу!");
        }
    }

    async Task CreateBook()
    {
        book.Name = book.Name.ToLower();
        using HttpResponseMessage TestResponse = await client.PostAsJsonAsync("https://localhost:7190/api/Book/Create", book);
        TestResponse.EnsureSuccessStatusCode();
        response = await TestResponse.Content.ReadFromJsonAsync<Response>();
        if (response.IsSuccess)
        {
            navigation.NavigateTo("mybooks");
        }
        if (!response.IsSuccess)
        {
            navigation.NavigateTo("");
        }
    }

    private IBrowserFile selectedImage;
    private string uploadMessage;

    private async Task HandleFileChange(InputFileChangeEventArgs e)
    {
        selectedImage = e.File;
        if (selectedImage != null)
        {
            using (var memoryStream = new MemoryStream())
            {
                await selectedImage.OpenReadStream().CopyToAsync(memoryStream);
                var imageBytes = memoryStream.ToArray();

                book.Cover = imageBytes;
            }
        }
    }

    private async Task NumberChange(bool isUp, int number)
    {
        bool isSucces;
        if (isUp)
        {
            chapters.Value.Data[number - 1].Number--;
            chapters.Value.Data[number - 2].Number++;
            isSucces = await ToUpDown(chapters.Value.Data[number - 2]);
        }
        else
        {
            chapters.Value.Data[number - 1].Number++;
            chapters.Value.Data[number].Number--;
            isSucces = await ToUpDown(chapters.Value.Data[number]);
        }
        var isSucces1 = await ToUpDown(chapters.Value.Data[number - 1]);
        if (isSucces && isSucces1)
        {
            await GetChapters();
        }
    }

    private async Task<bool> ToUpDown(ChapterDto chapter)
    {
        using HttpResponseMessage TestResponse = await client.PostAsJsonAsync("https://localhost:7190/api/Chapter/Update", chapter);
        TestResponse.EnsureSuccessStatusCode();
        var response = await TestResponse.Content.ReadFromJsonAsync<Response>();
        return response.IsSuccess;
    }

    void GoToCycleEditor()
    {
        navigation.NavigateTo($"cycleeditor/0/{book.Id}");
    }

    async Task AddGenre(int Id)
    {
        var r = await client.GetFromJsonAsync<Response>($"https://localhost:7190/api/Book/AddGenre?bookId={this.Id}&genreId={Id}");
        if (r.IsSuccess)
        {
            await GetBookGenres();
        }
    }

    async Task RemoveGenre(int Id)
    {
        await client.GetFromJsonAsync<Response>($"https://localhost:7190/api/Book/RemoveGenre?bookId={this.Id}&genreId={Id}");
        await GetBookGenres();
    }

    private void HandleGenreChange(ChangeEventArgs e)
    {
        if (int.TryParse(e.Value.ToString(), out int genreId))
        {
            AddGenre(genreId);
        }
    }

    private async Task GetBookGenres()
    {
        BookGenres = await client.GetFromJsonAsync<Response<DataPage<GenreDto>>>($"https://localhost:7190/api/Genre/GetGenresForBook?bookId={this.Id}&start={0}");
    }

    private async Task PulishedChapter(int id, bool isPub)
    {
        await client.GetFromJsonAsync<Response<DataPage<GenreDto>>>($"https://localhost:7190/api/Chapter/Published?chapterId={id}&action={!isPub}");
    }
}